.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topRight {
    display: flex;
    align-items: center;
}

.logo {
  max-width: 200px;
  margin-top: .5rem;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  color: darkslategrey;
}

.topIconBadge {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
}

.topAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    background-color: grey;
}
