/*
    media queries:
        mobile: 360px
        tablet: 769px
        PC: 1200px (max-width 1360px)

    Colores:
        #F2E5D5: beige claro (fondo del body)
        #403831: marrón oscuro del fondo del footer
        #D9C9BA: beige oscuro parte de arriba del footer
        #A69C94: fondo del header
    
    Íconos siempre en Solid
*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
