#navbar-content,
#navbar-login,
#navbar-Compra {
  display: none;
}

header {
  background-color: #a69c94;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-desktop {
  display: none;
}

#logo {
  width: 20vw;
  max-width: 3rem;
  margin-left: .5rem;
}

i {
  color: #403831;
  font-size: 1.3rem;
}

#barra{
  height: 1.6rem;
  border: none;
  outline: none;
  color: #555;
  background: linear-gradient(#ddc8b7, #f3ede6);
  border-radius: 3px;
}

#searchBar form {
  position: relative;
}

.searchButton {
  font-size: 1rem;
  padding: 0.15rem 0.15rem; 
  position: absolute;
  right: 4px;
  bottom: 2px;
  border-left: solid 1px rgb(213 184 184);
  background: linear-gradient(#ddc8b7, #f3ede6);
}


fieldset {
  border: none;
  outline: none;
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  
  .hamburgesa {
    color: transparent;
  }

  #navbar-content {
    display: block;
  }

  #navbar-content a {
    text-decoration: none;
    color: black;
    font-family: roboto;
    padding: 1rem 0.5rem;
    font-weight: 500;
  }

  #barra {
    width: 20vw;
    
  }
}

@media screen and (min-width: 1200px) {
  header {
    justify-content: space-evenly;
  }

  .logo-simple {
    display: none;
  }
  
  .logo-desktop {
    display: inline-block;
  }

  #logo-big {
    max-width: 200px;
  }

  #navbar-content a {
    font-size: 1.2rem;
  }

  .fa-bars {
    display: none;
  }
}
