#navbar-content,
#navbar-login,
#navbar-Compra {
  display: none;
}

header {
  background-color: #a69c94;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 
#logo {
  border: solid 10px #403831;
  color: #403831;
  font-family: Lora;
  font-size: 2rem;
} */

.logo-desktop {
  display: none;
}

#logo {
  width: 20vw;
  max-width: 3rem;
  margin-left: .5rem;
}

i {
  color: #403831;
  font-size: 1.3rem;
}

fieldset {
  border: none;
  outline: none;
  display: flex;
  flex-wrap: none;
}

@media screen and (min-width: 768px) {
  .hamburgesa {
    display: none;
  }

  #navbar-content {
    display: block;
  }

  #navbar-content a {
    text-decoration: none;
    color: black;
    font-family: roboto;
    padding: 1rem;
    font-weight: 500;
  }

  #barra {
    width: 20vw;
    height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  header {
    justify-content: space-around;
  }

  #navbar-content a {
    font-size: 1.2rem;
  }

}
