
main h2{
    font-size: 2rem;
    font-family: 'Trebuchet MS';
    margin: 20px 15px;    
}

.main_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1366px;
    margin: 2.85rem auto;
}

.main_section article{
    padding: 10px 0;
    transition: transform 4s linear;
    margin: 5px 0;
}

.main_section article img{
    width: 255px;
    height: 240px;
    box-shadow: 3px -2px 7px #a69c94;  
}

.main_section article  img:hover{
    transform: translateY(-12px);
    box-shadow: 0 0 15px 5px #db9c68;
}

.main_section ul{
    font-size: 1rem;
    list-style: none;
    font-family: 'Trebuchet MS';
    padding: 3px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.main_section ul li:first-child{
    flex-basis: 85%;
}
.main_section ul li:nth-child(2){
    flex-basis: 85%;
    order: 1;
}
.main_section ul li:nth-child(4){
    order: 2;
}



.main_section ul li i{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.main_section ul li button i:hover{
    text-shadow: 0px 0px 8px rgba(236, 12, 12, 0.6);
    cursor: pointer;
}
.main_section ul li i:hover{
    text-shadow: 0px 0px 8px rgba(12, 53, 236, 0.6);
}

.main_section ul li:nth-child(2){
   margin: 5px 0;
}

@media screen and (min-width: 768px) {
     
    .main_section article{
        flex-basis: 35%;
    }
    .main_section article ul{
        max-width: 260px;
    }
}

@media screen and (min-width: 1200px){
    .main_section article{
        flex-basis: 0;
    }
}