main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: lora;
  font-weight: 100;
}

#login-form-complete {
  /* border: #403831 solid 1px; */
  /* max-width: 75vw; */
  margin: 0 auto;
}
input,
button {
  margin: 0 auto;
}

#email,
#pass {
  margin-top: 0.5rem;
}

#login-button,
#email,
#pass {
  border-radius: 20px;
  padding: 10px 5px;
  font-size: 1rem;
  font-family: "Trebuchet MS", sans-serif;
  width: 280px;
}

.no-show {
  display: none;
}

.remember {
  margin: 0 auto;
}

#login-button {
  border-radius: 20px;
  padding: 10px 5px;
  margin: 0 auto;
  background-color: #a69c94;
  font-weight: 900;
  font-size: 1rem;
  font-family: "Trebuchet MS", sans-serif;
  margin-top: 1rem;
  cursor: pointer;
}

#register-link {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  padding: 0.5rem;
}

#login-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f2e5d5;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  #login-form-complete {
    background-color: #f2e5d5;
    border-radius: 20px;
    width: 60vw;
  }
  main {
    background-image: url(../img/loginFondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  
  h1 {
    font-size: 2rem;
  }

  #login-form-complete {
    background-color: #f2e5d5;
    border-radius: 20px;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
