
.no-show {
  display: none;
}

i {
  overflow-x: visible;
}

#volver {
  color: black;
  text-decoration: none;
  font-family: roboto;
  display: none;
}

.pic-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 60vw;
  overflow-y: scroll;
}

.small-pic {
  width: 10vw;
  height: auto;
}

.main-pic{
  margin: 0 auto;
}

#focus-pic {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

#producto {
  border: 1px solid #403831;
}

#desc-title {
  font-size: 2rem;
  margin: 0 1rem;
  font-family: Lora;
}

#desc-prize {
  margin: 0.2rem 1rem;
  font-family: Lora;
}

#cuotas {
  margin: 0.5rem 1.2rem;
}

#size-qty-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.4rem;
  max-width: 100vw;
  align-items: center;
}

legend {
  margin: 0.5rem 0;
}

#talle {
  width: 45vw;
  background: transparent;
  border: solid 1px #403831;
}

#qty {
  width: 45vw;
  background: transparent;
  border: solid 1px #403831;
}

#submit {
  margin: 0.5rem 1rem;
  padding: 0.2rem;
  width: 90vw;
  background-color: #d9c9ba;
  border: none;
  outline: none;
  border: solid 1px #403831;
  color: black;
}

#desc-bottom {
  margin: 0.5rem;
}

#desc-bottom p {
  margin: 0.8rem;
}

.listaTalles {
  list-style: none;
}

.listaTalles li{
  margin: 0.8rem;
}

@media (min-width: 768px) {
  .pic-list {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10px;
    height: 45vh;
  }

  #producto {
    display: flex;
    justify-content: space-around;
    border: solid 1px #403831;
    padding: 10px;
  }

  #desc-title {
    border-bottom: solid 1px #403831;
  }

  #focus-pic {
    max-width: 480px;
    max-height: 980px;
    margin-left: 1.5rem;
  }

  .description {
    width: 40vw;
  }

  #size-qty-form {
    display: flex;
    flex-direction: column;
  }

  #talle {
    width: 30vw;
  }

  #qty {
    width: 30vw;
  }

  #submit {
    width: 30vw;
  }
}

@media (min-width: 1200px) {
  #size-qty-form {
    display: flex;
    flex-direction: row;
    max-width: 550px;
  }

  #talle {
    width: 90vw;
    max-width: 250px;
  }

  #qty {
    width: 90vw;
    max-width: 250px;
  }

  #submit {
    width: 90vw;
    max-width: 540px;
    margin: 10px auto;
  }
}
