#update {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
.form-update {
  border-radius: 20px;
  width: 350px;
  font-family: Roboto;
  margin: 20px 40px;
  text-align: center;
  background-color: #f2e5d5;
}
.form-update fieldset {
  border-radius: 20px;
  margin-bottom: 25px;
  display: block;
  justify-content: right;
  font-size: 25px;
}
.Datos {
  text-align: center;
  height: 1.2em;
  width: 14em;
  border-radius: 20px;
  font-family: "Roboto";
  font-size: 1.5em;
}
#title {
  text-align: center;
  padding-bottom: 0.3rem;
  font-weight: 700;
  font-family: "Trebuchet MS", sans-serif;
}
.logo-Update {
  width: 50vw;
}

#logo-Update-top {
  max-width: 60px;
  max-height: 70px;
  margin: 5px auto;
  text-align: center;
}

.boton {
  border-radius: 20px;
  padding: 10px 5px;
  margin: 3px 0;
  background-color: #a69c94;
  font-weight: 900;
  font-size: 1rem;
  font-family: "Trebuchet MS", sans-serif;
  width: 280px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #update {
    background: url("/img/fondoUpdate.jpg") no-repeat;
    background-size: cover;
  }
}
