main{
    margin: 2rem;
    background-image: url(../img/fondoUpdate.jpg);
    background-size: cover;
}

main h2{
    margin: 1.5rem 0;
}

main picture img{
    width: 300px;
    height: 300px;
    margin: 1rem;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 50%; */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px){}
.form-update{
    background-color: #F2E5D5;
    position: relative;
    /* left: 32%;
    border: none;
    margin-top: 13%; */
    border-radius: 20px;
    width: 40vw;
    height: 60vh;

}
main  {
    /* background-image: url(../img/fondoUpdate.jpg);
    background-size: cover; */
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-update2 {
    position: relative;
    left: 32%;
    margin-top: 1rem;
}


#name{
    padding: 0.2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}
#lastName{
    padding: 0.2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}
#email{
    padding: 0.2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

#button-enviar {
    border-radius: 15px;
    padding: 10px 5px;
    margin: 0 auto;
    background-color: #F2E5D5;
    font-weight: 900;
    font-size: 1rem;
    border: 2px solid #ccc;
    font-family: "Trebuchet MS", sans-serif;
    margin-top: 0.5rem;
    cursor: pointer;
    /* transition: background-color 1s; */
    transition: color 0.2s;
    align-items: center;
    min-width: 30%;
    margin-top: 3rem;;
  }

.logo-form img{
    width: 30%;
    height: 20%;
    margin-left: 12rem

} 

#button-enviar:hover {
    background-color: #a69c94;
    
}