<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <main>
    <nav id="searchBar">
      <form action="/products/" enctype="multipart/form-data" method="post">
           <fieldset>  
              <label class= "nombres" for = "name">nombre</label>
              <input type="text" name="name" id="name" placeholder="name" >
            </fieldset>

              <fieldset>
              <label class="precios" for = "price">precio</label>
              <input type="number" description= "price" id="price" placeholder="price" min="0" >
         </fieldset>

         <fieldset>
          <label class="talles" for = "size">talle</label>
          <input type="number" description= "size" id="size" placeholder="size" min="0" >
        </fieldset>

         <fieldset>
        <label class="descripciones" for = "description"></label>
    <input type="text" description= "description" id="description" >
         </fieldset>

         <fieldset>
  <label class="img" for="image"></label>
  <input type="file" description= "image" id="image" >
</fieldset>

<fieldset>
<label for="men">Hombre</label>
<input type="checkbox" description= "category" value="Hombre">
<label for="women">Mujer</label>
<input type="checkbox" description= "category" value="Mujer">
</fieldset>

<fieldset>
<label class="ofertas" for="ofert"></label>
  <input type="checkbox" name="ofert" id="ofert">
  <i class="fas fa-percentage"></i>
</fieldset>

<fieldset>
    <button type="submit">Save</button>
</fieldset>
      </form>
  </main>
    <%- include('../partials/footer') %> 
</body>
</html>