<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <main id="create">
      <section class="form-create">
        <article>
          <picture class="logo-Create">
            <img src="/img/logo/logoSimple.svg" alt="" id="logo-Create-top" />
          </picture>
        </article>
        <h3 id="title"> Creación de Productos</h3>
      <form action="/products/" enctype="multipart/form-data" method="post">
           <fieldset>  
              <label class= "Datos" for = "name"></label>
              <input type="text" name="name" id="name" placeholder="Name/Nombre" >
            </fieldset>

              <fieldset>
              <label class="Datos" for = "price"></label>
              <input type="number" name= "price" id="price" placeholder="Price/Precio" min="0" >
         </fieldset>

         <fieldset>
          <label class="Datos" for = "size"></label>
          <input type="text" name= "size" id="size" placeholder="Size/Talle" >
        </fieldset>

         <fieldset>
        <label class="Datos" for = "description"></label>
    <input type="text" name= "description" id="description" placeholder="Descripción del producto">
         </fieldset>

         <fieldset>
  <label class="img" for="image"></label>
  <input type="file" name= "image" id="image" placeholder="Ningún archivo seleccionado" >
</fieldset>

<fieldset>
<label for="men">Hombre</label>
<input type="checkbox" name= "category" value="Hombre">
<label for="women">Mujer</label>
<input type="checkbox" name= "category" value="Mujer">
</fieldset>

<fieldset>
<label class="ofertas" for="ofert"></label>
  <input type="number" name="discount" id="discount" min=0 max=100>
  <input type="checkbox" name="ofert" id="ofert">
  <i class="fas fa-percentage"></i>
</fieldset>

<fieldset>
    <button type="submit">Save</button>
</fieldset>
      </form>
    </section>
  </main>
    <%- include('../partials/footer') %> 
</body>
</html>