<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main id="create">
        <section class="form-create">
          <article>
            <picture class="logo-Create">
              <img src="/img/logo/logoSimple.svg" alt="" id="logo-Create-top" />
            </picture>
          </article>
          <h3 id="title"> Creación de Productos</h3>
          <form action="/products/" enctype="multipart/form-data" method="post" multiple>
            <fieldset>
              <label for="name">
              <input type="text" name="name" id="name" placeholder="Name/Nombre" required>
              </label>
            </fieldset>

              <fieldset>
              <label class="precios" for = "price"></label>
              <input type="number" name= "price" id="price" placeholder="Price/Precio" min="0" required>
         </fieldset>

               <!-- <fieldset id="sizes">
              <legend>Talles</legend>
              
              <label for="xs_qty">XS</label>
              <input type="number" name="xs_qty" id="" value="XS" min="1" max="25">
              
              <label for="s_qty">S</label>
              <input type="number" name="s_qty" id="" value="S" min="1" max="25">
              
              <label for="m_qty">M</label>
              <input type="number" name="m_qty" id="" value="M" min="1" max="25">
              
              <label for="l_qty">L</label>
              <input type="number" name="l_qty" id="" value="L" min="1" max="25">
              
              <label for="xl_qty">XL</label>
              <input type="number" name="xl_qty" id="" value="XL" min="1" max="25">

             </fieldset> -->

            <fieldset>
              <label class="descripciones" for="description"></label>
              <textarea name="description" id="description"></textarea>
            </fieldset>
 
            <fieldset>
              <label class="img" for="image"></label>
              <input type="file" name="image" id="image" multiple required>
            
            <fieldset>
              <label for="men">Hombre</label>
              <input type="radio" name="category" value="hombre" >
              <label for="women">Mujer</label>
              <input type="radio" name="category" value="mujer">
            </fieldset>

            <fieldset>
              <label for="discount">Descuento</label>
              <label class="ofertas" for="ofert"></label>
              <input type="checkbox" name="ofert" id="ofert">
              <input type="number" name="discount" id="discount"> 
            </fieldset>

            <fieldset>
              <button class="boton" type="submit">Save</button>
            </fieldset>
          </form>
        </section>
      </main>
     
      <%- include('../partials/footer') %>
  </body>

</html>