<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main id="create">
        <section class="form-create">
          <article>
            <picture class="logo-Create">
              <img src="/img/logo/logoSimple.svg" alt="" id="logo-Create-top" />
            </picture>
          </article>
          <h3 id="title"> Creación de Productos</h3>
           <form action="/products/" id="form-create" enctype="multipart/form-data" method="post" multiple>
           
            <fieldset>
              <label for="name">
              <input type="text" name="name" id="name" placeholder="Name/Nombre" >
              </label>
            </fieldset>

              <fieldset>
              <label class="precios" for = "price"></label>
              <input type="number" name= "price" id="price" placeholder="Price/Precio" min="0" >
         </fieldset>

            <fieldset id="labelSizes">
            <legend>Talles</legend>
              <label for="xs">XS</label>              
              <label for="s">S</label>
              <label for="m">M</label>
              <label for="l">L</label>
              <label for="xl">XL</label>
            </fieldset> 

             <fieldset id="sizes">
              <input type="text" name="units" minlength="1" maxlength="2" id="xs" >
              <input type="text" name="units" minlength="1" maxlength="2" id="s">
              <input type="text" name="units" minlength="1" maxlength="2" id="m" >
              <input type="text" name="units" minlength="1" maxlength="2" id="l">
              <input type="text" name="units" minlength="1" maxlength="2" id="xl">
             </fieldset>

            <fieldset>
              <label class="descripciones" for="description"></label>
              <textarea name="description" id="description" placeholder="Puedes escribir una descripción del producto si gustas"></textarea>
            </fieldset>
 
            <fieldset>
              <label class="img" for="image"></label>
              <input type="file" name="image" id="image" multiple>
              
            <fieldset id="labelRadio">
              <label for="men">Hombre</label>
              <label for="women">Mujer</label>
              <label for="accesorio">Accesorio</label>
            </fieldset>

            <fieldset id="radioBtn">  
              <input type="radio" id="men" name="category" value="hombre" >
              <input type="radio" id="women" name="category" value="mujer">
              <input type="radio" id="accesorio" name="category" value="accesorio">
            </fieldset>

            <fieldset id="descOfert">
              <label for="discount">Descuento</label>
              <input type="checkbox" name="ofert" id="ofert">
              <input type="number" name="discount" id="discount" min="0" max="90"> 
            </fieldset>
            
            <fieldset>
              <button class="boton" type="submit">Save</button>
            </fieldset>
          </form>
        </section>
      </main>
     <script src="/js/productCreate.js"></script>
      <%- include('../partials/footer') %>
  </body>

</html>