<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main>
        <main>
            <h2>Productos</h2>
            <section class="main_section">
                <article>
                  <picture>
                   <a href="/products/productDetail">
                    <img src="/img/Productos/buzo.jpg" alt="Buzo blanco">
                  </a>
                  </picture>
                  <ul>
                    <li>Buzo North Face</li>
                    <li>$7.000</li>
                  </ul>       
                </article>
                <article>
                  <picture>
                    <a href="./products/productDetail">
                    <img src="/img/Productos/Saco_WeAre.jpg" alt="Sacos">
                    </a>
                  </picture>
                  <ul>
                    <li>Saco "We Are"</li>
                    <li>$15.000</li>
                  </ul>       
                </article>
                <article>
                  <picture>
                      <a href="./products/productDetail">
                      <img src="/img/Productos/camperaDeJean.jpg" alt="Campera de Jean">
                      </a>
                  </picture>
                  <ul>
                    <li>Campera de Jean "Jacques"</li>
                    <li>$13.000</li>
                  </ul>       
                </article>
                <article>
                  <picture>
                    <a href="/products/productDetail">
                      <img src="/img/Productos/pilotoLightsred.jpg" alt="Piloto transparente rosado">
                    </a>
                  </picture>
                  <ul>
                    <li>Piloto "Lights"</li>
                    <li>$6.000</li>
                  </ul>       
                </article>
            </section>
          </main>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>