<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Fashion Sale</title>
  </head>
  <body>
    <header>
      <picture class="logo-desktop">
        <a href="/">
          <img src="/img/logo/logoDesktop.png" alt="" id="logo-big"/>
        </a>
      </picture>
      <picture class="logo-simple">
        <a href="/">
          <img src="/img/logo/logoSimple.svg" alt="" id="logo" />
        </a>
      </picture>
      <i class="fa-solid fa-bars hamburgesa"></i>
      <nav id="navbar-content">
        <a href="">Hombre</a>
        <a href="">Mujer</a>
        <a href="">Genderless</a>
        <a href="">Accesorios</a>
        <a href="">Acerca</a>
      </nav>
      <nav id="searchBar">
        <fieldset>
          <form action="">
            <input type="text" name="barra" id="barra" />
          </form>
          <button>
            <i class="fa-solid fa-magnifying-glass searchButton"></i>
          </button>
        </fieldset>
      </nav>
      <a href="/login">
        <i class="fa-solid fa-user"></i>
      </a>
      <nav id="navbar-login">
        <form action="/" method="post">
          <fieldset>
            <legend>Iniciar Sesión</legend>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </fieldset>
          <fieldset>
            <legend>Iniciar Sesión</legend>
            <label for="email">Contraseña</label>
            <input type="pass" name="pass" id="pass" />
          </fieldset>
          <fieldset>
            <button type="submit">Iniciar Sesión</button>
            <button>Registrarse</button>
          </fieldset>
          <fieldset>
            <label for="remember"
              ><input
                type="checkbox"
                name="remember"
                id="remember"
              />Recuerdame</label
            >
          </fieldset>
        </form>
        <a href="">Olvidé mi contraseña</a>
      </nav>
      <a href="/carrito">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <nav id="navbar-Compra">
        <form action="">
          <button>Finalizar Compra</button>
        </form>
      </nav>
    </header>
    <main>
      <section>
        <article>
          <a href="/" id="volver">Volver al listado</a>
        </article>
      </section>
      <section id="producto">
        <article class="pic-list">
          <picture>
            <img
              class="small-pic"
              src="/img/camperaWaveChica.jpg"
              alt=""
              srcset=""
            />
          </picture>
          <picture>
            <img
              class="small-pic"
              src="/img/camperaWaveHombre.jpg"
              alt=""
              srcset=""
            />
          </picture>
          <picture>
            <img
              class="small-pic"
              src="/img/camperaWaveHombre2.jpg"
              alt=""
              srcset=""
            />
          </picture>
          <picture>
            <img
              class="small-pic"
              src="/img/camperaWaveEspaldaHombre.jpg"
              alt=""
              srcset=""
            />
          </picture>
          <picture>
            <img
              class="small-pic"
              src="/img/camperaWaveChica2.jpg"
              alt=""
              srcset=""
            />
          </picture>
        </article>
        <article class="main-pic">
          <picture>
            <img id="focus-pic" src="/img/camperaWave.jpg" alt="" />
          </picture>
        </article>
        <section class="description">
          <article id="desc-top">
            <h1 id="desc-title">Campera Wave</h1>
            <h2 id="desc-prize">$8.400</h2>
          </article>
          <article id="cuotas">
            <p>12 cuotas de $1.050</p>
            <p>6 cuotas de $1.400</p>
          </article>
          <article id="size-qty">
            <form action="get" id="size-qty-form">
              <fieldset>
                <legend>Talle</legend>
                <label for="size" class="no-show">Talle</label>
                <select name="size" id="talle">
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                </select>
              </fieldset>
              <fieldset>
                <legend>Cantidad</legend>
                <label for="qty" class="no-show">Cantidad</label>
                <button>-</button>
                <input type="number" name="qty" id="qty" min="1" max="10"
                value="1"/>
                <button>+</button>
              </fieldset>
              <fieldset>
                <legend class="no-show">Agregar al Carrito</legend>
                <label for="add-to-cart" class="no-show"
                  >Agregar al Carrito</label
                >
                <button type="submit" id="submit">Agregar al Carrito</button>
              </fieldset>
            </form>
          </article>
          <article id="desc-bottom">
            <h3>Descripción</h3>
            <p>
              Campera estampada. Textil crepe de microfibra mate. Bolsillos
              laterales. Cierre metálico central.
            </p>
            <p>Talle modelo mujer: XS/S</p>
            <p>Talle modelo hombre: M/L</p>
          </article>
        </section>
      </section>
    </main>
    <footer>
      <section class="footer-Top">
        <section>
          <article class="footer-Top-art">
            <i class="fa-solid fa-truck"></i>
            <p>Envíos gratis a partir de $20.000</p>
          </article>
        </section>
        <section>
          <article class="footer-Top-art">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
          </article>
        </section>
        <section>
          <article class="footer-Top-art">
            <i class="fa-solid fa-credit-card"></i>
            <p>6 cuotas fijas</p>
          </article>
        </section>
      </section>

      <section class="footer-Bottom">
        <article class="footer-Form">
          <form action="/" method="get">
            <legend>Newsletter</legend>
            <label for="news"
              >Suscribite al newsletter para saber cuando hay ofertas</label
            >
            <input type="email" name="news" id="news" />
          </form>
        </article>
        <section id="copy-and-recl">
          <article>
            <p id="copy">
              Copyright Fashion Sale - 2021
              <i class="fa-solid fa-copyright"></i>
            </p>
          </article>
          <article>
            <p id="reclamos">
              Para reclamos haga click
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >aqui</a
              >
            </p>
          </article>
        </section>
      </section>
    </footer>
  </body>
</html>
