<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <main id="update">
      <section class="form-update">
      <article>
        <picture class="logo-Update">
          <img src="/img/logo/logoSimple.svg" alt="" id="logo-Update-top" />
        </picture>
      </article>
      <h3 class="no-show"> Formulario Update</h3>
        <form action="/products/<%= products.id %>?m=PUT" method="post" enctype="multipart/form-data">
           <fieldset>  
              <label class= "no-show" for = "name">Nombre:</label>
              <input type="text" name="name" id="name"  >
              
            </fieldset>

              <fieldset>
              <label class="no-show" for = "price">Precio:</label>
              <input type="number" name= "price" id="Price/Precio" placeholder="Price/Precio" min="0" >
         </fieldset>
    
         <fieldset>
          <legend>Talles</legend>
          <input type="checkbox" name="size" id="" value="XS">   
          <label>XS</label>
          <input type="checkbox" name="size" id="" value="S">
          <label for=>S</label>
          <input type="checkbox" name="size" id="" value="M">
          <label for=>M</label>
          <input type="checkbox" name="size" id="" value="L">
          <label for=>L</label>
          <input type="checkbox" name="size" id="" value="XL">
          <label for=>XL</label>
         </fieldset>

         <fieldset>
        <label class="Datos" for = "description"></label>
        <textarea name="description" id="description" placeholder="Descripción del Producto"></textarea>
         </fieldset>
         <fieldset>
          <label class="img" for="image"></label>
          <input type="file" name="image" id="image" multiple >
        
        <fieldset>

<fieldset>
<label for="men">Hombre</label>
<input type="checkbox" name= "category" value="hombre">
<label for="women">Mujer</label>
<input type="checkbox" name= "category" value="mujer">
</fieldset>

<fieldset>
<label class="ofertas" for="ofert">Descuento</label>
  <input type="checkbox" name="ofert" id="ofert">
  <input type="number" name="discount" id="discount">
  <i class="fas fa-percentage"></i>
</fieldset>

<fieldset>
    <button class="boton" type="submit">Update</button>
</fieldset>
      </form>
    </section>
  </main>
    <%- include('../partials/footer') %> 
</body>
</html>