.userList {
    flex: 4
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}