<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/carrito.css" />

  <title>Fashion Sale</title>
</head>
<body>
    <header>
        <!-- logo -->
        <span id="logo">Fs</span>
        <i class="fa-solid fa-bars hamburgesa"></i>
        <nav id="navbar-content">
          <a href="">Hombre</a>
          <a href="">Mujer</a>
          <a href="">Genderless</a>
          <a href="">Accesorios</a>
          <a href="">Acerca</a>
        </nav>
        <nav id="searchBar">
          <fieldset>
            <form action="">
              <input type="text" name="barra" id="barra" />
            </form>
            <button>
              <i class="fa-solid fa-magnifying-glass searchButton"></i>
            </button>
          </fieldset>
        </nav>
        <i class="fa-solid fa-user"></i>
        <nav id="navbar-login">
          <!-- logo -->
          <form action="/" method="post">
            <fieldset>
              <legend>Iniciar Sesión</legend>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </fieldset>
            <fieldset>
              <legend>Iniciar Sesión</legend>
              <label for="email">Contraseña</label>
              <input type="pass" name="pass" id="pass" />
            </fieldset>
            <fieldset>
              <button type="submit">Iniciar Sesión</button>
              <button>Registrarse</button>
            </fieldset>
            <fieldset>
              <label for="remember"
                ><input
                  type="checkbox"
                  name="remember"
                  id="remember"
                />Recuerdame</label
              >
            </fieldset>
          </form>
          <a href="">Olvidé mi contraseña</a>
        </nav>
        <i class="fa-solid fa-cart-shopping"></i>
        <nav id="navbar-Compra">
          <!-- logo -->
          <!-- items -->
          <form action="">
            <button>Finalizar Compra</button>
          </form>
        </nav>
      </header>
    <main>
        <section>
            <h2>Carrito</h2>
        </section>
        <section class="main_section">
            <ul id="col-header">
                <li id="cl-product">Producto</li>
                <li id="cl-quantity">Cantidad</li>
                <li id="cl-delete">Eliminar</li>
                <li id="cl-price">Valor Unitario</li>
                <li id="cl-total">Total</li>
            </ul>
            <ul id="items">
                <li class="item-border">
                    <section class="item_product">
                        <article class="product">
                            <picture>
                                <img src="/img/prod1.jpg" alt="camperas">
                            </picture>
                            <article class="description">
                                <h3>Camperas</h3>
                                <ul>
                                    <li>Talle: M</li>
                                    <li>Color: Celeste/Negro</li>
                                    <li>Tipo: Poliester</li>
                                </ul>
                            </article>          
                               
                        </article>
                        <form action="/" class="quantity-form">
                            <fieldset>
                                <button type="button"><i class="fas fa-minus"></i></button>
                                <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                <button type="button"><i class="fas fa-plus"></i></button>
                            </fieldset>
                        </form>
                        <form action="/" class="delete-form">
                            <button type="button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        <article class="price-unit">
                            <p>$8.000</p>
                        </article>
                        <article class="price-total">
                            <p>$8.000</p>
                        </article>
                    </section>
                </li>
                <li class="item-border">
                    <section class="item_product">
                        <article class="product">
                            <picture>
                                <img src="/img/prod2.jpg" alt="camperas">
                            </picture>
                            <article class="description">
                                <h3>Campera</h3>
                                <ul>
                                    <li>Talle: L</li>
                                    <li>Color: Rosado</li>
                                    <li>Tipo: Poliester</li>
                                </ul>
                            </article>          
                               
                        </article>
                        <form action="/" class="quantity-form">
                            <fieldset>
                                <button type="button"><i class="fas fa-minus"></i></button>
                                <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                <button type="button"><i class="fas fa-plus"></i></button>
                            </fieldset>
                        </form>
                        <form action="/" class="delete-form">
                            <button type="button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        <article class="price-unit">
                            <p>$8.000</p>
                        </article>
                        <article class="price-total">
                            <p>$8.000</p>
                        </article>
                    </section>
                </li>
            </ul>

            <section id="btn-compra">
                <article>
                  <p>Total</p>
                  <p>$16.000</p>
                </article>
                <form action="/" method="post">
                    <fieldset>
                        <button type="button">Finalizar Compra</button>
                    </fieldset>
                </form>
            </section>
        </section>
    </main>
    <footer>
        <section class="footer-Top">
          <section>
            <article class="footer-Top-art">
              <i class="fa-solid fa-truck"></i>
              <p>Envíos gratis a partir de $20.000</p>
            </article>
          </section>
          <section>
            <article class="footer-Top-art">
              <i class="fa-brands fa-instagram"></i>
              <p>Instagram</p>
            </article>
          </section>
          <section>
            <article class="footer-Top-art">
              <i class="fa-solid fa-credit-card"></i>
              <p>6 cuotas fijas</p>
            </article>
          </section>
        </section>
  
        <section class="footer-Bottom">
          <article class="footer-Form">
            <form action="/" method="get">
              <legend>Newsletter</legend>
              <label for="news"
                >Suscribite al newsletter para saber cuando hay ofertas</label
              >
              <input type="email" name="news" id="news" />
            </form>
          </article>
          <section id="copy-and-recl">
            <article>
              <p id="copy">
                Copyright Fashion Sale - 2021
                <i class="fa-solid fa-copyright"></i>
              </p>
            </article>
            <article>
              <p id="reclamos">
                Para reclamos haga click
                <a href="http://" target="_blank" rel="noopener noreferrer"
                  >aqui</a
                >
              </p>
            </article>
          </section>
        </section>
      </footer>
</body>

</html>