<!-- ACLARACIÓN: ESTO ES TEMPORAL, ES MERA Y EXCLUSIVAMENTE PARA DEMOSTRAR QUE SABEMOS COMO CREAR UN LOGIN, PERO EN EL FUTURO LO VAMOS A TENER EN EL MENÚ COLAPSABLE EN EL HEADER (VEASE BOCETO) -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Fashion Sale</title>
  </head>
  <body>
    <header>
        <picture class="logo-desktop">
          <a href="/">
            <img src="/img/logo/logoDesktop.png" alt="" id="logo-big"/>
          </a>
        </picture>
        <picture class="logo-simple">
          <a href="/">
            <img src="/img/logo/logoSimple.svg" alt="" id="logo" />
          </a>
        </picture>
        <i class="fa-solid fa-bars hamburgesa"></i>
        <nav id="navbar-content">
          <a href="">Hombre</a>
          <a href="">Mujer</a>
          <a href="">Genderless</a>
          <a href="">Accesorios</a>
          <a href="">Acerca</a>
        </nav>
        <nav id="searchBar">
          <fieldset>
            <form action="">
              <input type="text" name="barra" id="barra" />
            </form>
            <button>
              <i class="fa-solid fa-magnifying-glass searchButton"></i>
            </button>
          </fieldset>
        </nav>
        <a href="/login">
          <i class="fa-solid fa-user"></i>
        </a>
        <nav id="navbar-login">
          <form action="/" method="post">
            <fieldset>
              <legend>Iniciar Sesión</legend>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </fieldset>
            <fieldset>
              <legend>Iniciar Sesión</legend>
              <label for="email">Contraseña</label>
              <input type="pass" name="pass" id="pass" />
            </fieldset>
            <fieldset>
              <button type="submit">Iniciar Sesión</button>
              <button>Registrarse</button>
            </fieldset>
            <fieldset>
              <label for="remember"
                ><input
                  type="checkbox"
                  name="remember"
                  id="remember"
                />Recuerdame</label
              >
            </fieldset>
          </form>
          <a href="">Olvidé mi contraseña</a>
        </nav>
        <a href="/carrito">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <nav id="navbar-Compra">
          <form action="">
            <button>Finalizar Compra</button>
          </form>
        </nav>
      </header>
    <main>
      <section >
        <article id="login-form-complete">
          <h1>Login</h1>
          <form action="/" method="post" id="login-form">
            <fieldset>
              <legend class="no-show">Iniciar Sesión</legend>
              <label for="email" class="no-show">Email</label>
              <input type="email" name="email" id="email" placeholder="email"/>
            </fieldset>
            <fieldset>
              <legend class="no-show">Iniciar Sesión</legend>
              <label class="no-show" for="pass">Contraseña</label>
              <input type="pass" name="pass" id="pass" placeholder="contraseña"/>
            </fieldset>
            <fieldset>
              <button type="submit" id="login-button">Iniciar Sesión</button>
            </fieldset>
            <fieldset>
              <a href="/register" id="register-link">Registrarse</a>
            </fieldset>
            <fieldset>
              <label class="remember" for="remember"
                ><input
                  type="checkbox"
                  name="remember"
                  id="remember"
                />Recuerdame</label
              >
            </fieldset>
          </form>
        </article>
      </section>
      </header>
    </main>
    <footer>
      <section class="footer-Top">
        <section>
          <article class="footer-Top-art">
            <i class="fa-solid fa-truck"></i>
            <p>Envíos gratis a partir de $20.000</p>
          </article>
        </section>
        <section>
          <article class="footer-Top-art">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
          </article>
        </section>
        <section>
          <article class="footer-Top-art">
            <i class="fa-solid fa-credit-card"></i>
            <p>6 cuotas fijas</p>
          </article>
        </section>
      </section>

      <section class="footer-Bottom">
        <article class="footer-Form">
          <form action="/" method="get">
            <legend>Newsletter</legend>
            <label for="news"
              >Suscribite al newsletter para saber cuando hay ofertas</label
            >
            <input type="email" name="news" id="news" />
          </form>
        </article>
        <section id="copy-and-recl">
          <article>
            <p id="copy">
              Copyright Fashion Sale - 2021
              <i class="fa-solid fa-copyright"></i>
            </p>
          </article>
          <article>
            <p id="reclamos">
              Para reclamos haga click
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >aqui</a
              >
            </p>
          </article>
        </section>
      </section>
    </footer>
  </body>
</html>
