<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %> 
      <main>
        <h2>El usuario logueado es: <%= user.email %> </h2>
      </main>
      <%- include('../partials/footer') %> 
  </body>
</html>
